@model List<DataAccessLayer.Models.Product>

@{
    ViewData["Title"] = "Home Page";
}



<div>
    <h2>Product List</h2>
    <ul>
        @foreach (var product in Model)
        {
            <li>@product.Size - @product.Color</li>
        }
    </ul>
</div>
